@charset "UTF-8";

body{
    height: 95.5vh;
    width: 100%;
    position: relative;
    background-color: black;
    background-image: url('imagem/espaco.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


 img{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

 }